src/main/mule/cicdjenimpl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="43250a4c-eef1-42de-befa-88bef343c08b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicdjenimplFlow" doc:id="4d9ef459-6612-4398-bcf0-19b764560bd2" >
		<http:listener doc:name="Listener" doc:id="2ab4278b-f2df-4281-b4d2-affd420f6684" config-ref="HTTP_Listener_config" path="cicdJenImpl"/>
		<logger level="INFO" doc:name="Logger" doc:id="c3e7fbbd-d749-40f2-8b05-add5e4860adb" message='" Request Recived "'/>
		<set-payload value='#[" Success "]' doc:name="Set Payload" doc:id="e79ea788-8e13-4e50-8d70-aa4b65c2e972" />
	</flow>
</mule>
